*{
    margin: 0;
    padding: 0;
}

header, footer{
    width: 100vw;
    height: 15vh;
    background: lightgray;
}

header{
    position: fixed;
}
main{
    width: 100vw;
    height: 6000px;
    background: black;
}